.profile__discription {
  max-width: 295px;
  max-height: 43px;
  margin:0 ;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width :  680px) {
  .profile__dicription {
    margin: 0 1px 0 0;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  } 
}
