@import url(./__image/element__image.css);
@import url(./__like/element__like.css);
@import url(./__like/_activ/element__like_activ.css);
@import url(./__name/element__name.css);
@import url(./__discription/element__discription.css);
@import url(./__trash/element__trash.css);
@import url(./__trash-button/element__trash-button.css);


.element {
  position: relative;
  margin: 0 auto;
  height:361px;
  object-fit: cover;
  border-radius: 10px;
  background-color: #FFFFFF;
}
