.profile__flexrow {
  display: flex;
  align-items: flex-end;
  align-items: center;
  justify-content: center;
}

@media (max-width :  680px) {
  .profile__flexrow {
    margin: 14px 0 10.25px 0;
  }
}